# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/inspectionProfiles

.serverless/
vendored/
settings.ini
*.zip
*.gif
*.png

.vscode/
bin/
include/
lib/
node_modules/
__pycache__/
pip-selfcheck.json
package-lock.json
